/*style.css sushi*/

h1 {
    font-style: italic;
}

ul,ol {
    color: brown;
    border: 3px solid grey;
    background-color: whitesmoke;
}

p {
    font-weight: 800;
    font-style: italic;
    border: 3px solid grey;
    padding: 2px;
    background-color: whitesmoke;
}

li {
    color: brown;
}

button {
     background-color: black;
     color: white;
}

body {
    background-color:bisque
}