/*Styles-burger*/

h1 {
    font-style: italic;
}

ul,ol {
    color: green;
    border: 2px solid rgb(235, 159, 61);
    background-color: whitesmoke;
    width: 550px;
    height: 100px;
}

ol {
    height: 150px;
}

p {
    font-weight: 800;
    font-style: italic;
    border: 5px solid rgb(235, 159, 61);
    background-color: whitesmoke;
    padding: 5px;
}

button {
     background-color: black;
     color: white;
}

body {
    background-color:bisque
}
